<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  (click)=gotoHome()>
      <img src="https://image4.owler.com/logo/freshtrends_owler_20160228_045955_original.png"
        style="width: 55%;vertical-align: text-bottom;" />
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background: #fafafa;
  height: 65px;
  border-bottom: solid 1px #d8d8d8;
  color:#242424
  ">
    <p style=" display: flex;" (click)="toggle()" *ngIf="!show">
      <ion-icon name="cart" style="margin-right: 10px;"></ion-icon> Show order summary  <img src='../../../assets/img/down.png' style="width: 14px; margin-left: 5px;" />
    </p>
    <p style=" display: flex;" (click)="toggle()" *ngIf="show">
      <ion-icon name="cart" style="margin-right: 10px;"></ion-icon> Hide srder summary <img src='../../../assets/img/up.png' style="width: 14px; margin-left: 5px;" />
    </p>

    <p style="font-weight: 600;">{{totalAmount  | currency}}</p>
  </div>
  <div style="background: #fafafa;height: 0px; width: 100%;  overflow: auto;transition: height 0.7s;border-bottom:solid 1px #d8d8d8"
    [ngStyle]="{'height':show === true ? height : '0px' }">
    <ion-list style="background: transparent;    padding: 0">
      <div *ngFor="let item of cartItems; index as index" style="--background: transparent;display:flex;height: 85px;">
          <ion-item-divider style="    padding: 0;
          margin-left: 16px;--background: transparent;
          margin-right: 16px;padding-bottom: 10px;padding-top: 10px;;">
       <div style=" width: 20%;  display: flex;  align-items: center;justify-content: center;">
        <ion-thumbnail slot="start">
          <img [src]="item.image.src" style="border: solid 1px #cacaca;border-radius: 5px;">
            <div style="margin-top: -60px;margin-left: 40px;">
              <ion-badge color="medium" style="border-radius: 50%;">{{item.productQuantity}}</ion-badge>
            </div>
        </ion-thumbnail>
       </div> 
       <div style="width: 60%;">
        <p style="font-size: 0.9em; color:#242424;margin: 0;">{{item.title}}</p>
        <p style="margin: 0;font-size: 0.8em;color:#717171;margin-top: 5px;">Yellow Gold / 18G / 3/16" (5mm)</p>
       </div>
        <div style="width: 20%;color: #323232;text-align: right;">
          <p>{{item.variants[0].price | currency}}</p>
        </div>
        </ion-item-divider>
      </div>


      <!-- <ion-row style="padding-left: 16px;padding-right: 16px;margin-top: 16px;">
        <ion-col style="padding: 0;">Gift card or discount code:</ion-col>
      </ion-row> -->
      <ion-row style="padding-left: 16px; padding-right: 16px;margin-top: 5px;display: flex;
        align-items: center;">
        <ion-col style="padding: 0;" size="10">
          <ion-input type="text" style="border: solid 1px #b766b7;height: 40px;" placeholder="Gift card or discount code">
          </ion-input>
        </ion-col>
        <ion-col size="2" style="padding: 0;">
          <ion-button (click)="addToCart()"
            style="--background: purple;height: 40px; width: 100%;--color:white;color:white;margin-left: 4px;" type="submit">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-item-divider style="    padding: 0;
      margin-left: 16px;--background: transparent;
      margin-right: 16px;margin-top: 16px;">
        <div style="width:100%;color:#535353">
          
          <div style="    display: flex;
            width: 100%;
           ">
            <div style="width: 50%;">Sub Total</div>
            <div  style="width: 50%;text-align: right;padding-right: 32px;">{{totalAmount | currency}}</div>
          </div>
          <div style="display: flex; width: 100%; margin-top: 10px;  margin-bottom: 16px; align-items: center;">
            <div  style="width: 50%;">Shipping</div>
            <div  style="width: 50%;text-align: right;padding-right: 32px;font-size: 0.8em;">Calculated at next step </div>
          </div>
        </div>
      </ion-item-divider>
<!--     
      <ion-item-divider style="padding-right: 16px; height: 80px;
      --background: transparent;" lines="none"> -->
        <div style="width:100%;display:flex;color:#535353;padding-right: 16px; height: 80px;padding-left: 16px;">
          <div style="    display: flex;
            width: 100%;
            justify-content: space-between;    align-items: center;">
            <div>Total</div>
            <div style="font-size: 18px; font-weight: 600;"> {{totalAmount | currency}}</div>
          </div>
        </div>
      <!-- </ion-item-divider> -->
    </ion-list>
  </div>


<div  style="padding-left: 16px;padding-right: 16px;margin-top: 20px;">
  <div class="head-color" style="font-size: 18px;font-weight: 600;text-align: center;">Express checkout</div>
  <div>
    <ion-row style="margin-top: 16px;display: flex;
    align-items: center;">
      <ion-col style="padding: 0;" size="12">
        <ion-button (click)="addToCart()"
        style="--background: black;height: 48px; width: 98%;--color:white;color:white;margin-left: 4px;" type="submit">
        <ion-icon name="logo-google"></ion-icon>Pay
      </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row style="margin-top: 16px;display: flex;
    align-items: center;">
      <ion-col style="padding: 0;" size="12">
        <ion-button (click)="addToCart()"
        style="--background: #ffc439;height: 48px; width: 98%;--color:white;color:white;margin-left: 4px;" type="submit">
        <img src='../../../assets/img/paypal.png' style="width: 85px;" />
      </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row style="margin-top: 16px;display: flex;
    align-items: center;">
      <ion-col style="padding: 0;" size="12">
        <ion-button (click)="addToCart()"
        style="--background: #fad676 !important;height: 48px; width: 98%;--color:white;color:white;margin-left: 4px;" type="submit">
        <img src='../../../assets/img/amazon--pay.png' style="width: 85px;" />
      </ion-button>
      </ion-col>
    </ion-row>
  </div>

</div>

<div class="or-section" style="margin-top: 16px;width: 100%;display: flex;justify-content: space-around;align-items: center;">
  <div style="width: 40%; border-bottom: solid 1px #d8d8d8;"></div>
  <div>OR</div>
  <div style="width: 40%;border-bottom: solid 1px #d8d8d8;"></div>

</div>



  <div style="padding-left: 16px;padding-right: 16px;margin-top: 20px;">
    <div style="width:100%">
      <div>
        <div class="head-color" style="font-size: 18px;font-weight: 600;">Contact information</div>
        <div  class="sub-color" style="font-size: 14px;margin-top: 10px;">Already have an account? Login</div>
      </div>

      <!-- <ion-row style="margin-top: 16px;">
        <ion-col style="padding: 0;">Email</ion-col>
      </ion-row> -->
      <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
        <ion-col style="padding: 0;" size="12">
          <ion-input type="text" (ngModelChange)="emailvalidate()" style="border: solid 1px #b766b7;" placeholder="Email" name="email" [(ngModel)]="form.email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 5px;" *ngIf="check && emailtest">
        <ion-col style="padding: 0;color: red;">Please Enter valid email</ion-col>
      </ion-row>
      <div style="    margin-top: 15px;
        display: flex;
        ">
        <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
        <ion-label style="margin-left: 10px;" class="sub-color">
          Keep me up to date on news and exclusive offers
        </ion-label>
      </div>

      <div style="margin-top: 16px;font-size: 18px;font-weight: 600;">
        <div class="head-color">Shipping address</div>
      </div>
      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">First name</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="First name" name='fname' [(ngModel)]="form.fName"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.fName">
          <ion-col style="padding: 0;color: red;">Enter a first name</ion-col>
        </ion-row> 
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Last name</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="Last name" name='lname' [(ngModel)]="form.lName"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.lName">
          <ion-col style="padding: 0;color: red;">Enter a last name</ion-col>
        </ion-row> 
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Company (optional)</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="Company (optional)" name='company' [(ngModel)]="form.company"></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Address</ion-col>
        </ion-row> -->
        <ion-row style="margin-top:16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="Address" name='address' [(ngModel)]="form.address"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.address">
          <ion-col style="padding: 0;color: red;">Enter a address</ion-col>
        </ion-row> 
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Apartment, suite, etc. (optional)</ion-col>
        </ion-row> -->
        <ion-row style="margin-top:16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="Apartment, suite, etc. (optional)" name='appartment' [(ngModel)]="form.appartment"></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">City</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="City" name='city' [(ngModel)]="form.city"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.city">
          <ion-col style="padding: 0;color: red;">Enter a city</ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Country/Region</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-select value="us" okText="Okay" cancelText="Dismiss" style="max-width: 100% !important;padding-left: 8px;border: solid 1px #b766b7;
            border-radius: 5px;" name='country' [(ngModel)]="form.country">
              <ion-select-option value="">Select Country</ion-select-option>
              <ion-select-option value="us">United States</ion-select-option>
              <ion-select-option value="ca">Canada</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.country">
          <ion-col style="padding: 0;color: red;">Select a country</ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">State</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <!-- <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="State"></ion-input> -->
            <ion-select value="al" okText="Okay" cancelText="Dismiss" style="max-width: 100% !important;padding-left: 8px;border: solid 1px #b766b7;
            border-radius: 5px;" name='state' [(ngModel)]="form.state">
              <ion-select-option value="">Select State</ion-select-option>
              <ion-select-option value="al">Alabama</ion-select-option>
              <ion-select-option value="ak">Alaska</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.state">
          <ion-col style="padding: 0;color: red;">Select a state</ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">ZIP code</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="ZIP code" name='pin' [(ngModel)]="form.pin"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;" *ngIf="check && !form.pin">
          <ion-col style="padding: 0;color: red;">Enter a zip code</ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Phone (optional)</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-input type="text" style="border: solid 1px #b766b7;" placeholder="Phone (optional)" name='mobile' [(ngModel)]="form.mobile"></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Phone (optional)</ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 16px;display: flex;
        align-items: center;">
          <ion-col style="padding: 0;" size="12">
            <ion-button (click)="validate()" style="--background: purple;height: 40px; width: 100%;--color:white;color:white;margin-left: 4px;" type="submit">
            Continue to shipping
          </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <!-- <ion-row style="margin-top: 16px;">
          <ion-col style="padding: 0;">Phone (optional)</ion-col>
        </ion-row> -->
        <ion-row style="display: flex;
        align-items: center;height: 50px;">
          <ion-col style="padding: 0;display: flex;justify-content: center;color: #545454;align-items: center" size="12" (click)="cartPage()">
      <img src='../../../assets/img/back.png' style="height: 14px; margin-right: 5px;" /> Return to cart
          </ion-col>
        </ion-row>
      </div>
     

    </div>
  </div>


</ion-content>