ion-header{
    ion-toolbar{
      ion-title{
        text-align: center;
        padding-left: 0;
        img{
          width: 55%;
          vertical-align: text-bottom;
        }
      }
      ion-buttons{
        margin-right: 13px;
        font-size: 20px;
      }
    }
  }


.order-summary-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background: #fafafa;
  height: 65px;
  border-bottom: solid 1px #d8d8d8;
  color:#242424;

  .p-text{
    display: flex;
    ion-icon {
      margin-right: 10px;
    }
  }
  .p-font600{
    font-weight: 600;
  }
}



.height{
    min-height: 250px !important;
}

.head-color{
  color: #333333;
}
.sub-color{
  color: #545454;
}
ion-input{
  border-radius: 5px;

}