<!-- <ion-header>
  <ion-toolbar>
 
    <ion-title>
      <img src="https://image4.owler.com/logo/freshtrends_owler_20160228_045955_original.png" />
    </ion-title>
    
  </ion-toolbar>
</ion-header> -->



<ion-content>
  <div style="width: 100%; height: 250px;display: flex; align-items: center;
  justify-content: center;">
      <img src="https://image4.owler.com/logo/freshtrends_owler_20160228_045955_original.png" style="width: 50%;" (click)=gotoHome() />
  </div>
  <h3 style="text-align: center;display: none;">Login</h3>
  <ion-item lines="none">
      <ion-label position="floating" >Email</ion-label>
      <ion-input clearInput style="border-bottom: solid 1px #b766b7;"></ion-input>
  </ion-item>
  <ion-item lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" style="border-bottom: solid 1px #b766b7;"></ion-input>
  </ion-item>
  
  <ion-item lines="none">
    <div style="width:100%;margin-top: 10px;"> 
    <ion-row>
      <ion-col size="12" style="padding:0">
          <ion-button expand="full" style="width: 100%; --background: #b766b7;" (click)="login()">LOGIN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -10px;">
        <ion-col size="12" style="padding:0">
            <p style="text-align: right;">Forget Password?</p>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top: -10px;">
      <ion-col size="12" style="padding:0;margin:0">
          <p style="text-align: right;" (click)="signup()">Sign Up</p>
      </ion-col>
  </ion-row>
  </div>
  </ion-item>
  

</ion-content>
