<ion-app>
    <ion-menu side="start" type="push" contentId="main"  swipe-gesture="false">
        <ion-header style="display: none;">
          <ion-toolbar color="primary">
            <ion-title>End Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
           <ion-row *ngFor="let cat of categories;index as index" style="margin-left: 20px;
           margin-top: 10px;margin-bottom: -10px;">
              <ion-col size="9" style="display: flex;
              align-items: center;
              justify-content: flex-start;">
                  <p (click)="col(cat,index)" style="margin:0;font-size: 16px;display: flex;">
                  {{cat.catName}} <img [src]="cat.logo" style="width: 16px;height: 16px;" />
                </p>
              </ion-col>
              <div style="height: 0px; width: 100%; padding-left: 20px; overflow: auto;"  [ngClass]="{'height':cat.data}">
              <div *ngFor="let sub of cat.catlist;index as i"><p  (click)="newD(sub,index)" style=" margin-top: 10px; margin-bottom: 10px;font-size: 16px;
            ">{{sub.subCat}} </p>
                <div style="height: 0px; width: 100%; padding-left: 20px;transition: height 0.7s; overflow: hidden;"  [ngStyle]="{'height':sub.data === true ? sub.height : '0px' }">
                    <p *ngFor="let sLi of sub.subList" (click)="go()" style=" margin-top: 0px;margin-bottom: 10px;font-size: 16px;">{{sLi}}</p>
 
                </div>
              </div>
           </div>
          </ion-row>

          <div  class="second-section">
            <ion-row style="border-top:solid 1px purple">
              <ion-col size="12" style="margin-left: 20px; " >
                  <p (click)="gotoLoginPage()" style="display: flex;
                  align-items:  center;">SIGN IN <ion-icon name="pin"></ion-icon></p>
              </ion-col>
           </ion-row>
           <ion-row >
            <ion-col size="12" style="margin-left: 20px; ">
                <p style="display: flex;
                align-items: center;">WISHLIST <ion-icon name="heart"></ion-icon></p>
            </ion-col>
         </ion-row>
          <ion-row > 
          <ion-col size="12" style="margin-left: 20px; ">
              <p style="display: flex;
              align-items:center;">REWARDS <ion-icon name="medal"></ion-icon></p>
          </ion-col>
       </ion-row>
          </div>
        </ion-content>
      </ion-menu>
      
  <ion-router-outlet id="main"></ion-router-outlet>
  
</ion-app>
